.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;

  &__logo {
    width: 120px;
    margin-left: 100px;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-right: 100px;
  }
}